/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* fonts end */

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #edeaff;
    font-family: "Courier Prime", monospace;
}

.stop-watch{
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgb(0,0,0,0.8), rgb(0,0,0,0.8)), url(images/background.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 200px auto 0px;
}

.stop-watch h1{
    font: 60px;
    margin-top: 20px;
    font-weight: 300;
}

.button img{
    width: 100px;
    height: auto;
    margin: 20px 0px;
}

